$font-stack:    Helvetica, sans-serif;
$font-size: 1.4em;
$primary-color: #099709;
$secondary-color: #c3881c;
$secondary-color-toggle: #808080;
$background-color: black;

@mixin disableSelection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    }

    @mixin disableTouchOverlay {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }
