@import '_vars';
body {
    font: 100% $font-stack;
    color: $primary-color;
    background: $background-color;
    font-size: $font-size;
    padding: 0;
    margin: 0;
  }

  a:visited, a:link, a:hover, a:active{
    text-decoration: none;
    color: $primary-color;
  }

  a:hover, a:active {
    color: $secondary-color;
    cursor: pointer;
  }

  li {
    list-style: none;
  }

  .subs-wrapper {
    width: 100%;
  }

  .subs {
    padding-bottom: 6vh;

    .sub {
      text-align: left;
      padding: 2%;
      padding-left: 3%;

      &:hover {
        cursor: pointer;
      }

      p {
        &.translation {
          color: $secondary-color;
        }
      }
    }

    .sub:nth-child(odd) {
      background:#1c1c1c;
    }
  }

html {
  height: 100%;
}
  #toolbar {
    position: fixed;
    bottom: 0;
    background: #333232;
    width: 100%;
    font-size: 3vh;
    line-height: 3vh;

    ul {
      -webkit-padding-start: 3%;

      a {
        padding: 2%;
        margin-left: -2%;
      }
    }
  }