@import '_vars';
@import './panels/panel';

@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/snackbar/mdc-snackbar";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/fab/mdc-fab";
@import "@material/icon-button/mdc-icon-button";

body {
    @include mdc-theme-prop('color', 'text-primary-on-dark');
    font: 100% $font-stack;
    background: $background-color;
    font-size: $font-size;
    padding: 0;
    margin: 0;

    &.single-view {
      overflow: hidden;
    }
  }

  a:visited, a:link, a:hover, a:active{
    text-decoration: none;
    color: $secondary-color;
  }

  a:hover, a:active {
    color: $primary-color;
    cursor: pointer;
  }

  li {
    list-style: none;
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }

  .hide {
    display: none;
  }

  .clear {
    clear: both;
  }

  .subs-wrapper {
    width: 100%;
  }

  .subs {
    padding-bottom: 6vh;

    .hide-originals {
      .sub.no-translation {
        display: none;
      }
      .sub.has-translation p.original {
        display: none;
      }
    }

    .sub {
      @include disableTouchOverlay;
      position: relative;
      text-align: left;
      padding: 2%;
      padding-left: 3%;
      float: left;
      width: 95%;

      &:hover {
        cursor: pointer;
      }

      p {
        float: left;
        width: 86%;
        &.translation {
          @include mdc-theme-prop('color', 'text-secondary-on-dark');
        }
      }

      .sub-controls {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 12%;
        font-size: 2em;
      }

      .single-view & {
        display: none;

        &:last-child, &.multi {
          background: black;
          display: block;
          position: fixed;
          height: 100vh;
          display: flex;
          align-items: center;
          text-align: center;
          flex-direction: column;
          font-size: 1.2em;
          font-weight: bold;

          .sub-controls {
            top: auto;
          }
        }

        &.multi {
          height: 50vh;

          &:last-child {
            top: 50vh;
          }
        }
      }
    }

    .single-view .sub.sub.no-translation:not(.multi), .single-view .sub.sub.has-translation:not(.multi) {
      display: none;
    }

    .sub:nth-child(odd) {
      background:#1c1c1c;
    }
  }

.panel {
    &.padding {
      padding: 2em;
    }

    h1 {
      margin-top: 0;
    }

    #panelCloseIcon {
      position: absolute;
      right: 3em;
      top: 3em;
      padding: 1em;
    }
}

  #toolbar {
    position: fixed;
    bottom: 0;
    background: #333232;
    width: 100%;
    font-size: 3vh;
    line-height: 3vh;
    text-align: center;

    ul {
      -webkit-padding-start: 3%;
      margin: 0;

      li {
        width: 20%;
      }

      a {
        padding: 1em;
        margin-left: -2%;
        display: block;

        &.active {
          color:green;
        }
      }
    }
  }

  .app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }

  @media(min-width: 1024px) {
     .app-fab--absolute {
      bottom: 1.5rem;
      right: 1.5rem;
    }
  }