@import '_vars';
@import '_topnavigation.scss';

body {
    font: 100% $font-stack;
    color: $primary-color;
    background: $background-color;
    font-size: $font-size;
    padding: 0;
    margin: 0;
  }

  a:visited, a:link, a:hover, a:active{
    text-decoration: none;
    color: $primary-color;
  }

  a:hover, a:active {
    color: $secondary-color;
    cursor: pointer;
  }

  li {
    list-style: none;
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }

  .hide {
    display: none;
  }

  .subs-wrapper {
    width: 100%;
  }

  .subs {
    padding-bottom: 6vh;

    .sub {
      text-align: left;
      padding: 2%;
      padding-left: 3%;
      float: left;
      width: 100%;

      &:hover {
        cursor: pointer;
      }

      p {
        float: left;
        width: 90%;
        &.translation {
          color: $secondary-color;
        }
      }

      .sub-controls {
        float: left;
        width: 10%;
      }
    }

    .sub:nth-child(odd) {
      background:#1c1c1c;
    }
  }

html {
  height: 100%;
}

.panel {
    &.padding {
      padding: 2em;
    }

    h1 {
      margin-top: 0;
    }

    #panelCloseIcon {
      position: absolute;
      right: 3em;
      top: 3em;
      padding: 1em;
    }
}

  #toolbar {
    position: fixed;
    bottom: 0;
    background: #333232;
    width: 100%;
    font-size: 3vh;
    line-height: 3vh;

    ul {
      -webkit-padding-start: 3%;
      margin: 0;

      li {
        width: 20%;
      }

      a {
        padding: 1em;
        margin-left: -2%;
        display: block;
      }
    }
  }