@import '_vars';
body {
    font: 100% $font-stack;
    color: $primary-color;
    background: $background-color;
    font-size: $font-size;
  }

  .subs-wrapper {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .subs {
    max-height: 240px;
    overflow: scroll;
    margin-top: auto;
    margin-bottom: auto;

    .sub {
      height: 90px;
      text-align: center;
    }
  }

html {
  height: 100%;
}
.hidescrollbar-wrapper {
    overflow: hidden;
}

.hidescrollbar {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-right: 14px;
    padding-right: 28px;
    padding-bottom: 15px;
  }