@import '_vars';
body {
    font: 100% $font-stack;
    color: $primary-color;
    background: $background-color;
    font-size: $font-size;
    padding: 0;
    margin: 0;
  }

  a:visited, a:link, a:hover, a:active{
    text-decoration: none;
    color: $primary-color;
  }

  a:hover, a:active {
    color: $secondary-color;
    cursor: pointer;
  }

  li {
    list-style: none;
  }

  .subs-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .subs {
    max-height: 100vh;
    overflow: scroll;
    padding-left: 2em;

    .sub {
      min-height: 90px;
      text-align: left;

      p.translation {
        color: $secondary-color;
      }
    }
  }

html {
  height: 100%;
}
.hidescrollbar-wrapper {
    overflow: hidden;
}

.hidescrollbar {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-right: 14px;
    padding-right: 28px;
  }

  #toolbar {
    position: absolute;
    bottom: 0;
  }