@import '_vars';
@import '_topnavigation.scss';

body {
    font: 100% $font-stack;
    color: $primary-color;
    background: $background-color;
    font-size: $font-size;
    padding: 0;
    margin: 0;

    &.single-view {
      overflow: hidden;
    }
  }

  a:visited, a:link, a:hover, a:active{
    text-decoration: none;
    color: $secondary-color;
  }

  a:hover, a:active {
    color: $primary-color;
    cursor: pointer;
  }

  li {
    list-style: none;
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }

  .hide {
    display: none;
  }

  .clear {
    clear: both;
  }

  .subs-wrapper {
    width: 100%;
  }

  .subs {
    padding-bottom: 6vh;
    padding-top: 50px;

    .hide-originals {
      .sub.no-translation {
        display: none;
      }
      .sub.has-translation p.original {
        display: none;
      }
    }

    // to overwrite "hide" class set on elements added while hide-translation setting is actuve
    :not(.hide-originals) {
      .sub.no-translation {
        display: block;
      }
      .sub.has-translation p.original {
        display: block;
      }
    }

    .sub {
      @include disableTouchOverlay;
      position: relative;
      text-align: left;
      padding: 2%;
      padding-left: 3%;
      float: left;
      width: 95%;

      &:hover {
        cursor: pointer;
      }

      p {
        float: left;
        width: 86%;
        &.translation {
          color: $secondary-color;
        }
      }

      .sub-controls {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 12%;
        font-size: 2em;
      }

      .single-view & {
        display: none;

        &:last-child, &.multi {
          background:#1c1c1c;
          display: block;
          position: fixed;
          height: 90vh;
          display: flex;
          align-items: center;
          text-align: center;
          flex-direction: column;
          top: 50px;
          font-size: 1.2em;
          font-weight: bold;

          .sub-controls {
            top: auto;
          }
        }

        &.multi {
          height: 45vh;

          &:last-child {
            top: 45vh;
          }
        }
      }
    }

    .sub:nth-child(odd) {
      background:#1c1c1c;
    }
  }

.panel {
    &.padding {
      padding: 2em;
    }

    h1 {
      margin-top: 0;
    }

    #panelCloseIcon {
      position: absolute;
      right: 3em;
      top: 3em;
      padding: 1em;
    }
}

  #toolbar {
    position: fixed;
    bottom: 0;
    background: #333232;
    width: 100%;
    font-size: 3vh;
    line-height: 3vh;
    text-align: center;

    ul {
      -webkit-padding-start: 3%;
      margin: 0;

      li {
        width: 20%;
      }

      a {
        padding: 1em;
        margin-left: -2%;
        display: block;

        &.active {
          color:green;
        }
      }
    }
  }